*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(#FFCB9A, #D8B08C);
    box-shadow: 10px #176599;
    border-radius: 10px black;
}
main{
    background-color: aliceblue;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 5px #D8B08C;
 
}
h1{
    text-align: center;
    color: #176599;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.212);

}
h2{
    color: #176599;
}